/* barlow-condensed-200 - latin */
@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/barlow-condensed-v3-latin-200.eot'); /* IE9 Compat Modes */
  src: local('Barlow Condensed ExtraLight'), local('BarlowCondensed-ExtraLight'),
       url('../fonts/barlow-condensed-v3-latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/barlow-condensed-v3-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/barlow-condensed-v3-latin-200.woff') format('woff'), /* Modern Browsers */
       url('../fonts/barlow-condensed-v3-latin-200.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/barlow-condensed-v3-latin-200.svg#BarlowCondensed') format('svg'); /* Legacy iOS */
}
/* barlow-condensed-regular - latin */
@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/barlow-condensed-v3-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Barlow Condensed Regular'), local('BarlowCondensed-Regular'),
       url('../fonts/barlow-condensed-v3-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/barlow-condensed-v3-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/barlow-condensed-v3-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/barlow-condensed-v3-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/barlow-condensed-v3-latin-regular.svg#BarlowCondensed') format('svg'); /* Legacy iOS */
}
/* barlow-condensed-700 - latin */
@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/barlow-condensed-v3-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Barlow Condensed Bold'), local('BarlowCondensed-Bold'),
       url('../fonts/barlow-condensed-v3-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/barlow-condensed-v3-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/barlow-condensed-v3-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/barlow-condensed-v3-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/barlow-condensed-v3-latin-700.svg#BarlowCondensed') format('svg'); /* Legacy iOS */
}

/* eb-garamond-regular - latin */
@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/eb-garamond-v10-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('EB Garamond Regular'), local('EBGaramond-Regular'),
       url('../fonts/eb-garamond-v10-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/eb-garamond-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/eb-garamond-v10-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/eb-garamond-v10-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/eb-garamond-v10-latin-regular.svg#EBGaramond') format('svg'); /* Legacy iOS */
}
/* eb-garamond-italic - latin */
@font-face {
  font-family: 'EB Garamond';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/eb-garamond-v10-latin-italic.eot'); /* IE9 Compat Modes */
  src: local('EB Garamond Italic'), local('EBGaramond-Italic'),
       url('../fonts/eb-garamond-v10-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/eb-garamond-v10-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/eb-garamond-v10-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/eb-garamond-v10-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/eb-garamond-v10-latin-italic.svg#EBGaramond') format('svg'); /* Legacy iOS */
}
/* eb-garamond-700 - latin */
@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/eb-garamond-v10-latin-700.eot'); /* IE9 Compat Modes */
  src: local('EB Garamond Bold'), local('EBGaramond-Bold'),
       url('../fonts/eb-garamond-v10-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/eb-garamond-v10-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/eb-garamond-v10-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/eb-garamond-v10-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/eb-garamond-v10-latin-700.svg#EBGaramond') format('svg'); /* Legacy iOS */
}